<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
</table>
<tr></tr><input type="button" class="btn btn-outline-success" value="Dodaj Nowego Użytkownika" onclick="window.location.href='http://localhost:8080/sing-up'">

</table>
<br>
</table>
<tr></tr><input type="button" class="btn btn-outline-success" value="Dla Admina" onclick="window.location.href='http://localhost:8080/ForAdmin'">

</table>
<br>
</table>
<tr></tr><input type="button" class="btn btn-outline-success" value="Dla Usera" onclick="window.location.href='http://localhost:8080/ForUSer'">

</table>
<br>
</table>
<tr></tr><input type="button" class="btn btn-outline-success" value="Dla Wszystkich" onclick="window.location.href='http://localhost:8080/wszyscy'">

</table>
<br>
</table>
<tr></tr><input type="button" class="btn btn-outline-success" value="Dla Zarejestrowanych" onclick="window.location.href='http://localhost:8080/hello'">

</table>
<br>
</table>
<tr></tr><input type="button" class="btn btn-outline-success" value="Wyślij Maila" onclick="window.location.href='http://localhost:8080/send'">

</table>
<br>
</table>
<tr></tr><input type="button" class="btn btn-outline-success" value="Konsola" onclick="window.location.href='http://localhost:8080/console'">

</table>
<br>
</table>
<tr></tr><input type="button" class="btn btn-outline-danger" value="Wyloguj" onclick="window.location.href='http://localhost:8080/logout'">

</table>
</body>
</html>