<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<body>


<form action="wyslij" method="post" enctype="multipart/form-data">
    <p align="center">
    <h1>Wysyłamy e-mail</h1>

    To: <br>
    <input type="text" name="to"><br>
    Title:<br>
    <input type="text" name="subject"><br>
    E-mail text<br>
    <textarea name="text" rows="10" cols="30">
     Tutaj wpisz treść maila
   </textarea>
    <br>
    </p>

    <p>
        <button type="submit">wyślij</button>

</form>
</p>
</body>
</html>
